.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex: 2;
  align-items: center;
  border: solid 1px #dcd8d8ae;
  padding: 10px;
  border-top: solid 3px #000;
  height: fit-content;
}

.categoryItem {
  padding: 10px 25px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 15px;
  border: solid 1px #bbb7b780;
  cursor: pointer;

}
.categoryItem:hover{
  
  background-color: rgba(128, 128, 128, 0.118);
}
.subtitle {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}
.title {
  font-size: 28px;
}

/* .style {
  color: #57c4ff;
}

.fashion {
  color: #da85c8;
}

.food {
  color: #7fb881;
}

.travel {
  color: #ff7957;
}

.culture {
  color: #ffb04f;
}

.coding {
  color: #5e4fff;
} */
